body{
	font-family: Arial;
	font-size: 11pt;
}
ul{
	background-color: black;
	padding: 0px;
	margin: 0px;
	color: white;
	list-style-type: none;
	overflow: hidden;
}
li{
	float: left;
}
li a {
	display: block;
	padding: 15px 16px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.menu{
	float: right;
}
.cabecalho{
	padding: 15px;
}
.item{
	font-size: 20pt;
}
.busca{
   position: relative;
   left: 100px;
   border: 2px solid #ccc;
   width: 240px;
   height: 20px;
   font-size: 15pt;
   padding: 6px;
   background-image: url('buscar.png');
   background-position: 515px;
   background-repeat: no-repeat;
   background-size: 50px;
   padding: 8px 20px 8px 300px;
}
.butao{
	text-align: center;
	margin: 10px;
	padding: 10px;
	float: right;
	background-color: blue;
	color: white;
	border-radius: 8px;
}

table{
	text-align: justify;
	padding: 15px;
	width: 100%;
	font-size: 11pt;
}

.ver{
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: green;
	color: white;
	
}
.modificar{
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: #DAA520;
	color: white;
	
}
.limpar{
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: red;
	color: white;
}
tr:nth-child(even){
	background-color: #dddddd;
}
